*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: antiquewhite;
}
h1{
  display: grid;
  margin-top:7rem ;
  place-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: bold;
}